[2020-03-28 08:50] Frenqy opened #1 "[iOS] 卡顿掉帧问题"
设备型号：iPhone ？/ iPad ？
系统版本：iOS 114.514

## 使用 BASS引擎 正常打歌是否卡顿：
（简单，参考谱面2940）（是 / 否）
（困难，参考谱面12038） （是 / 否）

## 使用 FMOD引擎 正常打歌是否卡顿：
（简单，参考谱面2940）（是 / 否）
（困难，参考谱面12038） （是 / 否）

## 使用 BASS引擎 使用DoubleTime打歌是否卡顿：
（简单，参考谱面2940）（是 / 否）
（困难，参考谱面12038） （是 / 否）

## 使用 FMOD引擎 使用DoubleTime打歌是否卡顿：
（简单，参考谱面2940）（是 / 否）
（困难，参考谱面12038） （是 / 否）

## Auto模式使用 BASS引擎 自动打歌是否卡顿：
（简单，参考谱面2940）（是 / 否）
（困难，参考谱面12038） （是

[2020-03-28 09:25] zeronsama opened #2 "要不要整个安卓导入失败issue？"

[2020-03-28 09:26] #2 closed, assigned to nobody

[2020-03-28 10:41] ggdg123 commented on #1
设备型号：iPad 2018
系统版本：iOS12. 3. 1

使用 BASS引擎 正常打歌是否卡顿：
（简单，参考谱面2940）（ 否）
（困难，参考谱面12038） （是)

使用 FMOD引擎 正常打歌是否卡顿：
（简单，参考谱面2940）（否）
（困难，参考谱面12038） （是）

使用 BASS引擎 使用DoubleTime打歌是否卡顿：
（简单，参考谱面2940）（ 否）
（困难，参考谱面12038） （是 ）

使用 FMOD引擎 使用DoubleTime打歌是否卡顿：
（简单，参考谱面2940）（是 ）
（困难，参考谱面12038） （是 ）

Auto模式使用 BASS引擎 自动打歌是否卡顿：
（简单，参考谱面2940）（否）
（困难，参考谱面12038） （ 否）

Auto模式使用 FMOD引擎 自动打歌是否卡顿：
（简单，参考谱面2940）（否）
（困难，参考谱

[2020-03-30 08:01] 6QHTSK opened #3 "Acc在结算时的显示与选歌列表的显示不一致"
结算时候的Acc（99.89%）与选歌列表更新的Acc（99.90%）不同。实际acc为99.8970%（6gr/1165note），出现概率低，其可能会影响对临界Acc的评级判断。

设备：安卓 荣耀V8
BanGround版本号： 0.4.3

[2020-03-30 20:45] KCFindstr commented on #3
Fixed in b70bcbb2c9. Will take effect in 0.4.4.

[2020-03-30 20:45] #3 closed, assigned to nobody

[2020-04-05 14:34] zeronsama opened #4 "语音结束前点击无法start"
在选歌界面如果选歌提示音未结束之前点击start，会有开始live的提示音，但是仍停留在选歌界面上，然后不管选歌提示音结束与否点击start都无法进入live，拖动选歌轮到其他歌点击start可以正常live

[2020-04-06 09:19] zeronsama opened #5 "下个版本记得把退出选项写上"
# 下个版本记得把退出选项写上
## 下个版本记得把退出选项写上
### 下个版本记得把退出选项写上
#### 下个版本记得把退出选项写上
##### 下个版本记得把退出选项写上
###### 下个版本记得把退出选项写上
*下个版本记得把退出选项写上*
**下个版本记得把退出选项写上**
***下个版本记得把退出选项写上***

[2020-04-06 09:21] qingfua commented on #5
？？？？
不记得 爬

[2020-04-06 09:23] zeronsama commented on #5
# Remember to write the exit option in the next version
# N'oubliez pas d'écrire l'option de sortie dans la prochaine version
# 次のバージョンで終了オプションを必ず記述してください
# 다음 버전에서 종료 옵션을 작성하십시오
# อย่าลืมเขียนตัวเลือกออกในรุ่นถัดไป

¿反应这么快？

[2020-04-06 09:45] linkfqy opened #6 "希望可以添加筛选/折叠/滚动条功能"
RT，歌很多时要找到特定歌曲太累了，可以把相同艺术家/谱师的歌折叠在一起，或者加个滚动条也行啊，一点点划真的心累……

[2020-04-06 09:48] zeronsama commented on #6
### 前排赞同

[2020-04-06 09:49] qingfua commented on #6
滚动条已经有了

[2020-04-06 09:55] qingfua commented on #6
加todo&nbsp;随缘do

---原始邮件---
发件人: &quot;linkfqy&quot;<notifications@github.com&gt;
发送时间: 2020年4月6日(周一) 下午5:45
收件人: &quot;BanGround/BanGround-Unity&quot;<BanGround-Unity@noreply.github.com&gt;;
抄送: &quot;Subscribed&quot;<subscribed@noreply.github.com&gt;;
主题: [BanGround/BanGround-Unity] 希望可以添加筛选/折叠/滚动条功能 (#6)

RT，歌很多时要找到特定歌曲太累了，可以把相同艺术家/谱师的歌折叠在一起，或者加个滚动条也行啊，一点点划真的心累……

&mdash;
You are receiving this

[2020-04-06 12:41] zeronsama opened #7 "# 催更Windows的0.5.0版本更新"
### 请快速上传Windows 0.5.0的包
### Please quickly upload the package for Windows 0.5.0
### 請快速上傳Windows 0.5.0的包
### Windows 0.5.0のパッケージをすばやくアップロードしてください
### Windows 0.5.0 용 패키지를 빠르게 업로드하십시오
### يرجى تحميل الحزمة بسرعة لـ Windows 0.5.0
### Моля, бързо качете пакета за Windows 0.5.0
### Upload pakken hurtigt til Windows 0.5.0
### Bitte laden Sie das Paket für Windows 0.5.0 schnell hoch
### Пожалуйста, быс

[2020-04-06 12:45] LingFeng-bbben opened #8 "成绩无法保存"
rt

[2020-04-06 12:47] LingFeng-bbben commented on #7
等等geek修复下阴影

[2020-04-06 12:47] LingFeng-bbben commented on #6
下次一定

[2020-04-06 12:48] LingFeng-bbben commented on #5
markdown带师

[2020-04-06 12:51] Frenqy commented on #7
阴影未知原因 试试把阴影相机的clear打开一下

[2020-04-06 12:51] Frenqy commented on #8
need log

[2020-04-06 13:20] botax-issue opened #9 "1"
## Description / 问题描述
2
## How to Reproduce / 如何复现
3
## Device Info / 设备信息
4
## Screenshots / 截图

---
Sender Platform: `QQ`
Sender ID: `1405116404`

[2020-04-06 13:21] botax-issue opened #10 "1"
## Description / 问题描述
2
## How to Reproduce / 如何复现
3
## Device Info / 设备信息
4
## Screenshots / 截图

---
Sender Platform: `QQ`
Sender ID: `1405116404`

[2020-04-06 13:26] botax-issue opened #11 "1"
## Description / 问题描述
2
## How to Reproduce / 如何复现
3
## Device Info / 设备信息
4
---
Sender Platform: `QQ`
Sender ID: `1405116404`

[2020-04-06 13:27] #11 closed, assigned to nobody

[2020-04-06 13:27] #10 closed, assigned to nobody

[2020-04-06 13:28] #9 closed, assigned to nobody

[2020-04-06 20:18] LingFeng-bbben commented on #7
下包了

[2020-04-06 20:18] #7 closed, assigned to nobody

[2020-04-06 20:19] LingFeng-bbben commented on #8
哪个**啥b**把他注释了

[2020-04-06 23:08] Frenqy commented on #5
需要退出选项的是win版还是安卓版？

[2020-04-06 23:46] zeronsama commented on #5
都要

[2020-04-07 13:11] botax-issue opened #12 "关于游戏se和语音"
## Description / 问题描述
希望将游戏打歌影响手感类的音效和语音和按钮等音效音量调整分开 方便需要单独关se或者语音的玩家
## How to Reproduce / 如何复现
無
## Device Info / 设备信息
Redmi K20 Pro MIUI11 20.3.27 Android 10
***
Sender Platform: QQ
Sender ID: 773606041

[2020-04-07 13:18] Frenqy commented on #1
在升级Unity后问题得到了暂时的解决

[2020-04-07 13:18] #1 closed, assigned to nobody

[2020-04-07 13:36] botax-issue opened #13 "testing"
## Description / 问题描述
testing
## How to Reproduce / 如何复现
testing
## Device Info / 设备信息
testing
## Screenshots / 屏幕截图
![pic](https://i.loli.net/2020/04/07/nHmX1JOAFELUSRu.gif)
---
Sender Platform: QQ
Sender ID: 475817716

[2020-04-07 13:37] #13 closed, assigned to nobody

[2020-04-07 13:38] botax-issue commented on #13
建议爬
---
Sender Platform: QQ
Sender ID: 1405116404

[2020-04-07 13:48] Frenqy commented on #8
Fixed in 42c88331

[2020-04-07 13:48] #8 closed, assigned to nobody

[2020-04-07 14:02] Frenqy commented on #4
de8f67e3已修复，现在在场景加载完成之前不允许点击Start

[2020-04-07 14:02] #4 closed, assigned to nobody

[2020-04-07 15:27] Frenqy opened #14 "打歌时出现的奇怪延迟问题"
#### 问题描述一：
![image](https://user-images.githubusercontent.com/28777951/78687466-c50e7a80-7926-11ea-92ae-5a5dab1b1284.png)

#### 问题描述二：
![image](https://user-images.githubusercontent.com/28777951/78687511-d0fa3c80-7926-11ea-9304-692e21d38407.png)

#### 问题描述三：
轮子哥曰：暂停后resume有几率复现

[2020-04-07 15:28] Frenqy commented on #5
803abf1e 已实现 2s内两次点击返回/ESC即可退出app

[2020-04-07 15:28] #5 closed, assigned to nobody

[2020-04-08 02:38] Zhouzerong233 commented on #14
resume的bug多了去了，比如auto酱resume会出现奇怪的miss

[2020-04-08 03:04] zeronsama opened #15 "小脑洞：关于判定具体消息"
添加一个mod，游戏中不显示判定等级，全部改成显示±x ms，最后再加入回放或静态谱面图，供玩家观看各个note的偏移

[2020-04-08 03:10] Frenqy commented on #15
显示±x ms已经纳入考虑
回放或静态图暂时不予考虑，建议开源后自行制作或等待n.0版本后开发

[2020-04-08 03:15] zeronsama opened #16 "小脑洞：让banground支持内录声音的录屏"
iOS和Windows不用考虑

有两个建议

1. 根据#15 issue，记录每个note的偏移进行回放，回放时供玩家~~使用奇奇怪怪的方法~~录制，减少打歌录屏卡顿

2. 另外加个录屏功能，边打歌边录，要顺便实现安卓内录(app支持的话应该可以实现吧……或者把声轨合成出来？)

我只管口嗨，剩下的你们想![huaji](https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1586315516&di=c96a75265f1048694ec1a4c1d56c21b8&src=http://www.17qq.com/img_biaoqing/28974067.jpeg)

[2020-04-08 03:18] #16 closed, assigned to nobody

[2020-04-08 03:19] LingFeng-bbben commented on #15
建议自个儿录手元
但是不能录屏是为啥呢

[2020-04-08 04:15] botax-issue opened #17 "偏移描述"
## Description / 问题描述
将偏移的描述改为“early多则调大，late多则调小”之类的更一目了然 的描述
## How to Reproduce / 如何复现
不用复现（）
## Device Info / 设备信息
ipad2018
***
Sender Platform: QQ
Sender ID: 1405116404

[2020-04-08 04:37] AECBanana commented on #17
下次一定

[2020-04-08 04:41] zeronsama commented on #17
[Q&A写了](https://wiki.banground.fun/#/qa?id=%e5%bb%b6%e8%bf%9f%e8%b0%83%e8%8a%82)

[2020-04-08 09:43] ReiKohaku opened #18 "关于选歌界面音频预览的问题"
选歌界面的音频预览，滑动选中时的**首次播放**，起始位置正常；之后的重播，音频播放起始位置会**向后偏移**一些（大约0.5s）。
*几乎任何情况下，这个问题都会发生。*

[2020-04-08 17:50] LingFeng-bbben opened #19 "点击start后的小剧场显示歌曲封面与信息"
rt

[2020-04-08 17:53] Frenqy commented on #19
需要详细列举具体显示什么信息

[2020-04-08 18:56] LingFeng-bbben commented on #15
已经加入豪华套餐

[2020-04-08 18:56] #15 closed, assigned to nobody

[2020-04-08 19:01] LingFeng-bbben commented on #17
改了

[2020-04-08 19:01] #17 closed, assigned to AECBanana

[2020-04-08 20:02] LingFeng-bbben commented on #6
滚动条修好了

[2020-04-08 20:10] LingFeng-bbben commented on #19
**封面**，艺术家，曲名，制谱人，难度和level

[2020-04-09 10:53] Frenqy opened #20 "Auto酱在resume后打击的前几个note有概率miss"
RT测试谱面：任意
复现方法：（极低概率）在note到达判定线被auto酱击打的一瞬间点击暂停，有可能无法被判定。可见auto酱点击轨道的粒子效果，但是note并没有被判定，在resume时跟着回滚。当note再次到达判定线时，auto酱不会再次尝试击打该note，造成miss

[2020-04-09 11:07] Frenqy commented on #20
美工描述：
![IMG_20200409_190622](https://user-images.githubusercontent.com/28777951/78888965-526fdd00-7a95-11ea-84c5-6131cc2866a9.jpg)
![image](https://user-images.githubusercontent.com/28777951/78888982-5996eb00-7a95-11ea-8a7b-cdc9b67c7f5e.png)

[2020-04-09 15:30] GEEKiDoS commented on #12
done in eedd797e1d

[2020-04-09 15:30] #12 closed, assigned to GEEKiDoS

[2020-04-10 02:35] KCFindstr commented on #20
Fixed in `be43f8bd32`. Need verification.

[2020-04-10 03:06] 6QHTSK opened #21 "关于FC/AP记录无法覆盖Clear记录或是被Clear记录覆盖的问题"
如题，来自一个用六兆年来调延迟无意间FC却因为分低覆盖不了之前的clear记录的手残……
之前好像好几次提过这个问题（从0.1.8提到0.5.0），在群里估计都忘了，这次提在issue。
目前的类似情况包括，FC/AP却覆盖不了之前前面全p断在后面clear记录（或是无聊dt打的记录），断在后面前面全p的成绩（或者是dt打完忘记exit）因为分高覆盖了FC/AP记录。（这都很让人痛苦，选歌列表FC/AP歌曲-1）
目前以分数为核心的成绩更新体系会导致未来执行鱼干系统的时候，该问题可能会影响到系统或者玩家对于FC/AP时获取鱼干的理解和计算。所以宜将CL/FC/AP体系和分数体系分开，分别运行。
由于mod辅助的原因，建议在未来除了倍速的成绩，一旦达成FC/AP，即可覆盖之前的clear/FC记录（即不记录dt/ht mod成绩）；或者是把dt/ht/正常速的成绩显示分开，开dt mod显示

[2020-04-10 03:07] AECBanana commented on #21
但是排行榜就是根据分数来排的。。。

[2020-04-10 03:11] Frenqy commented on #21
CL/FC/AP体系 **将会** 和分数体系分开计算与覆盖。但是mod成绩的处理还未决定。（issue本来就是md啊）

[2020-04-10 03:31] Frenqy commented on #21
0fde16c4提交已实现：结算时分数与评级分开计算
现存问题：倍速模组分数尚未与普通模式分数区分存放与计算

[2020-04-10 07:38] KCFindstr commented on #14
`878beedaf7`: Try to sync audio timeline aggressively. Wait for the next release to see if problem resolved.
Some phenomena sound like an offset issue. Visual offset adjustment is in progress.

[2020-04-11 19:08] LingFeng-bbben commented on #19
好了

[2020-04-11 19:08] #19 closed, assigned to nobody

[2020-04-11 19:10] LingFeng-bbben commented on #21
把打出来的分数使用的mod也存一下吧

[2020-04-12 13:27] LingFeng-bbben commented on #21
注意现在仍有bug
在结算界面会直接显示上一次更好的成绩和clear mark

[2020-04-12 13:28] Frenqy commented on #21
下午盲修过了

[2020-04-12 13:30] LingFeng-bbben opened #22 "unity video player的内存溢出问题"
~~film live~~MV模式会一次吃去~~500mb~~大约两倍视频文件大小的内存，而且结束播放后不会释放，导致内存不足闪退

[2020-04-12 13:36] AECBanana commented on #22
诸君，有什么对策？

[2020-04-12 13:38] ReiKohaku commented on #22
每次结束后重启应用

[2020-04-12 13:38] AECBanana commented on #22
？爬

[2020-04-12 15:58] LingFeng-bbben opened #23 "部分设备无法播放mv"
![screenshoot](http://47.100.29.0:1144/meme/20200412235550.jpg)
http://47.100.29.0:1144/meme/20200412235550.jpg

[2020-04-12 16:31] Frenqy commented on #23
描述补充：film live无法播放，但是其它可以
猜测为内存不足

[2020-04-14 22:03] KCFindstr commented on #20
No longer receive such report.

[2020-04-14 22:03] #20 closed, assigned to KCFindstr

[2020-04-15 04:40] Frenqy commented on #22
CRI解决问题 谱师自行使用medianoche编码至usm

[2020-04-15 04:40] #22 closed, assigned to nobody

[2020-04-15 04:41] Frenqy commented on #23
设备内存不足 不是bug

[2020-04-15 04:41] #23 closed, assigned to nobody

[2020-04-15 04:47] Frenqy opened #24 "[TODO] Criware"
## 音频
- [ ] 将导入的kirapack内音频文件转换为CRI HCA
- [ ] Provider
- [ ] 安卓低延迟设置
- [ ] iOS延迟设置

## 视频
- [ ] 视频播放功能

[2020-04-15 04:56] Frenqy opened #25 "[DOING] Select场景重构"
## 拆分
已完成

## 场景重建与新功能实装
- [x] 新美术设计
- [x] 更轻量的选曲列表（不再一次性显示所有SongItem）
- [ ] mod的设置与应用逻辑
- [ ] 筛选功能
- [ ] 收藏与折叠功能 #6
- [x] 删除功能
- [ ] 更多排序功能（eg：导入时间）
- [ ] 换肤功能接口
- [ ] SE音效分离
- [x] 自选note染色（？
- [x] 可视化offset调节（？

[2020-04-15 04:59] LingFeng-bbben commented on #25
随缘do

[2020-04-15 21:07] LingFeng-bbben opened #26 "FS存储的删除逻辑/视频缓存删除"
复现步骤
kirapack内仅有一首歌
1.导入kirapack（旧）
2.游戏内删除对应歌曲
3.导入kirapack（新）
4.进入游戏，为旧kirapack内数据
查沙盒内旧kirapack未被删除，
且temp内视频未删除（filmlive 在kirapack内和temp内占用了**双倍空间**）
@GEEKiDoS 修修

[2020-04-19 01:21] botax-issue opened #27 "退出游戏的问题"
## Description / 问题描述
在退出游戏时（原本是点两下返回键），如果多次点击返回键，会出现不断退出的假象
## How to Reproduce / 如何复现
选歌页面多次点击返回键
## Device Info / 设备信息
meizu m3
***
Sender Platform: QQ
Sender ID: 475817716

[2020-04-21 14:57] 6QHTSK opened #28 "Live结束后还可以操作打歌界面/谱面长度超出音频长度时发生的特性"
小特性，当出现Clear/FC/AP的那个遮罩时，还可以点击原有轨道位置操作打歌界面，发出敲击声。
另外，当谱面长度超出音频长度时，会出现于音频结束时提前关门的现象，有时直接导致auto酱全Perfect但Fail的特性。（也就是永远无法AP）
当然上面这个问题的**最优解决方案**还是解决掉**写出这个谱面的谱师**。
~~但可不可以关门时间取决于音频和谱面的最长时间呢？~~
~~或者可以用这两个特性整点小活？~~
另外，auto酱在关门后4s还在打歌，够敬业！

[2020-04-21 15:01] LingFeng-bbben commented on #28
关门后还能敲是用来鼓掌的（确信
第二个问题完全就是谱师的错吧，，，

[2020-04-21 15:04] Frenqy commented on #14
已找到稳定复现方法：
1. 使打歌时帧率低于60，在卡顿状态运行一段时间（此时sync值仍然在0左右浮动）
2. 恢复帧率，可见sync值瞬间变大，由于同步机制，谱面速度会发生改变以逐渐适应音频，造成不同步

[2020-04-21 15:07] Frenqy commented on #28
特性1将会修复
特性2将会修理谱师

顺带一问是什么情况下会fail？
fail时音频长度那段的note数小于总数的60%了吗？
因为是根据总acc计算的评级结果，理论上除这种情况外不会fail

[2020-04-21 15:09] 6QHTSK commented on #28
fail的情况就是音频长度+4s左右小于总数的60%，就是这种情况会fail。

[2020-04-23 06:22] KCFindstr commented on #14
确认是音频引擎在卡顿时更新不及时导致获取的音频时间错误。解决方案：开音频线程

[2020-04-23 09:33] AECBanana commented on #14
?

[2020-04-23 09:34] AECBanana commented on #14
等个cri

[2020-04-23 09:38] Frenqy commented on #14
问题仅出现在fmod上，考虑到bass存在的暂停fail/性能占用高问题，建议两个引擎一起改为手动update

或者等一个cri

[2020-04-23 12:44] GEEKiDoS commented on #26
听说很久之前就修好了 但是没人试

[2020-04-25 13:22] AECBanana opened #29 "绿条尾端被盖住了"
本家是尾端盖住，现在是尾端被盖住

[2020-04-25 13:26] AECBanana commented on #29
![IMG_E71D2E70688F-1](https://user-images.githubusercontent.com/60141130/80281099-6b39ed00-873b-11ea-85e1-e191221cb028.jpeg)
贴个图

[2020-04-25 13:27] ReiKohaku opened #30 "关于背景视频偶现卡死现象的问题"
发现在某些时候，背景视频会卡死在某一位置，但游戏功能正常。
暂时没有发现何种情况下会触发这一问题。

[2020-04-25 13:35] Frenqy commented on #27
fixed in 23da962

[2020-04-25 13:35] #27 closed, assigned to nobody

[2020-04-25 13:57] Frenqy commented on #29
fixed in eb79df2efb

[2020-04-25 13:57] #29 closed, assigned to nobody

[2020-04-25 13:57] Frenqy commented on #28
fixed in  2b17faac91

[2020-04-25 13:57] #28 closed, assigned to nobody

[2020-04-25 13:58] Frenqy commented on #26
@GEEKiDoS iOS重新打包后丢失谱面数据的bug依旧没好

[2020-04-26 09:20] 6QHTSK opened #31 "0.6.1 Windows版出现的一堆问题"
问题1：不能正确的播放BGA（有图片的谱面背景一直是黑色的）
问题2：不能正确的读取脚本
问题3：发完crashes包之后无法播放声音，只能播放音效（包括提示音，key音（在设置中））
问题4：发完crashes包之后无法播放谱面，且S值始终无法出现
问题5（此问题多次表现不一样，但是最终以出现Game Over然后崩溃结局）：
1.暂停-resume-Game Over；（仅出现一次）
2.暂停-resume-暂停-Retry-GameOver
3.暂停-resume-暂停-exit-GameOver；（仅出现一次，且之后的情况是exit和resume按键均不可按）期间在dev窗口有输出信息（已发在群里）
问题6 ： 暂停-Retry-正常重试歌曲-无法用鼠标操控界面的任何元素，弹出的暂停界面无鼠标显示（就是那几个像素点都找不到了）
问题7：关于GameOver窗口，只要出现必然崩溃。另

[2020-04-26 09:21] 6QHTSK commented on #31
补充，默认音频引擎又变回了bass而不是fmod

[2020-04-27 15:16] Frenqy commented on #26
iOS重新打包后丢失谱面数据的bug已修复
删除功能部分损坏

[2020-04-27 15:16] Frenqy commented on #30
等cri，不再维护unity的啥b VideoPlayer

[2020-04-27 15:16] #30 closed, assigned to nobody

[2020-04-27 15:18] Frenqy commented on #31
问题1：已修复
问题2：大概已修复
问题3：已修复
问题4：已修复
问题5：仍在排查
问题6：双鼠标暂时bug较多，缓慢修复中
问题7：草
问题8：无法复现 全新加载时音频引擎为fmod

[2020-04-27 19:37] LingFeng-bbben commented on #18
无法复现

[2020-04-27 19:37] #18 closed, assigned to GEEKiDoS

[2020-04-27 19:38] #21 closed, assigned to nobody

[2020-04-29 03:11] ButtercatT opened #32 "0.6.2版本轮子问题"
运行环境:android10 骁龙865

1.选歌轮子划到列表头会自动弹到列表尾部。

2. 调整轨道长度时拖动条会自动消失导致卡死在长度调整界面，只能强制退出游戏解决

[2020-04-29 03:27] AECBanana commented on #32
下次一定

iPhoneから送信

2020/04/29 午前11:12、ButtercatT <notifications@github.com>のメール:

﻿

运行环境:android10 骁龙865

1.选歌轮子划到列表头会自动弹到列表尾部。

  1.  调整轨道长度时拖动条会自动消失导致卡死在长度调整界面，只能强制退出游戏解决

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/BanGround/BanGround-Unity/issues/32>, or unsubscribe<https://github.com/notifications/unsub

[2020-05-03 07:03] Frenqy commented on #26
不知道好没好

[2020-05-03 07:03] #26 closed, assigned to GEEKiDoS

[2020-05-03 07:11] AECBanana commented on #26
bzd
2020年5月3日 15:03，Frenqy <notifications@github.com<mailto:notifications@github.com>> 写道：

不知道好没好

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/BanGround/BanGround-Unity/issues/26#issuecomment-623065620>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AOK24SVUBLP3GI4S25PYJQ3RPUJMZANCNFSM4MI

[2020-05-10 04:51] ReiKohaku opened #33 "关于退出时背景显示异常的问题"
在选歌界面退出游戏时，歌曲的背景图片会突然缩小，之后才弹出GAME OVER（顺便吐槽GAME OVER什么意思啊，写SEE YOU NEXT TIME不好吗）界面。
看起来很违和，希望修复。

[2020-05-10 07:50] KCFindstr commented on #33
?所以为啥要支持选歌界面退出游戏 不想上架ios了？

[2020-05-12 03:21] ReiKohaku opened #34 "努力让机器人醒醒①"
机器人快醒醒
据说发一个issue就可以让机器人复活？！

[2020-05-12 03:22] AECBanana commented on #34
鲨b
发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: 傲娇炸毛灵猫喵 <notifications@github.com>
发送时间: Tuesday, May 12, 2020 11:21:58 AM
收件人: BanGround/BanGround-Unity <BanGround-Unity@noreply.github.com>
抄送: Subscribed <subscribed@noreply.github.com>
主题: [BanGround/BanGround-Unity] 努力让机器人醒醒① (#34)

机器人快醒醒
据说发一个issue就可以让机器人复活？！

―
You are receiving

[2020-05-12 04:35] Frenqy commented on #34
能不能不要用邮件回复------------------ 原始邮件 ------------------
发件人: "AECBanana"<notifications@github.com>
发送时间: 2020年5月12日(星期二) 中午11:22
收件人: "BanGround/BanGround-Unity"<BanGround-Unity@noreply.github.com>;
抄送: "Subscribed"<subscribed@noreply.github.com>;
主题: Re: [BanGround/BanGround-Unity] 努力让机器人醒醒① (#34)

 鲨b
 发送自 Windows 10 版邮&#x4EF6;<https://go.microsoft.com/fwlink/?LinkId=550986>应用

 ___________________

[2020-05-12 09:07] #34 closed, assigned to nobody

[2020-05-12 09:08] Frenqy commented on #32
问题2已修复

[2020-05-12 09:08] Frenqy commented on #31
大概修完了？

[2020-05-12 09:08] #31 closed, assigned to nobody

[2020-05-13 07:51] 6QHTSK opened #35 "谱面进入界面“BPM”后面忘记加空格了"
RT，小bug
“BPM”应为“BPM ”

[2020-05-22 02:07] Frenqy commented on #35
修完很久才想起有issue

[2020-05-22 02:07] #35 closed, assigned to nobody

[2020-05-22 02:08] Frenqy commented on #33
没问题

[2020-05-22 02:10] Frenqy commented on #32
轮子换掉了

[2020-05-22 02:10] #32 closed, assigned to nobody

[2020-05-22 02:13] Frenqy opened #36 "偶现打歌结束后无法结算的问题"
rt,zsbd
表现为时间显示（S）值左侧在结束后回到歌曲开始时的值，右侧的值则回退后继续增长
复现方法未知，bug视频见2020.05.21日内测群视频

[2020-05-22 02:17] Frenqy opened #37 "部分用户开启app会有长时间黑屏"
原因为开启app时在尝试连接unity？暂时不知道具体原因

[2020-05-22 02:30] ReiKohaku commented on #37
解决方案一：把有奶提的网站都代理掉
解决方案二：打包以后改源码
解决方案三：鲨了有奶提，还有虚幻五（？？？

[2020-05-22 03:51] AECBanana commented on #36
我不懂 我不知道
![$)SKKU3@(ZF58~~LAYP5D7U](https://user-images.githubusercontent.com/60141130/82629504-80167d00-9c22-11ea-9c84-2809ca5c32ee.jpg)

[2020-05-22 03:58] AECBanana commented on #33
毛闷台 改成西又奈斯太慕了

[2020-05-22 03:58] #33 closed, assigned to nobody

[2020-05-22 04:11] KCFindstr commented on #36
我不懂 我不知道

[2020-05-22 17:50] GEEKiDoS commented on #25
一个多月过去了 新场景压根没建

[2020-05-28 05:02] Frenqy commented on #37
Konsole的问题 已修复

[2020-05-28 05:02] #37 closed, assigned to nobody

[2020-05-28 05:02] Frenqy commented on #36
str椰叶修好了

[2020-05-28 05:02] #36 closed, assigned to GEEKiDoS, KCFindstr, AECBanana

[2020-05-28 05:02] #14 closed, assigned to AECBanana

[2020-05-28 05:09] AECBanana commented on #24
没希望

[2020-05-28 05:09] #24 closed, assigned to nobody

[2020-05-28 16:32] 6QHTSK opened #38 "0.7.2 版本表现的一些bug或特性"
1. 制谱器bug，图片已经发在群里了（29日0点左右），主要表现在metadata 和 timing 标签 cancel掉后出现在轨道后方，且轨道的小节号被背景掩盖
2. 谱面打完结束之后（AP,FC,CL）的提示之后会短暂的回到原打歌界面，然后再结算（0.7.1历史遗留问题）
3. 删除谱面的时候，红色遮罩不适配现在的UI（上面有圆角，下面是直角，且下面不够长）
4. retry 翻译仅在结算界面有翻译，但是在暂停界面没有翻译，back在任何地方都没有翻译
5. New谱面也有类似制谱器的问题：setting和mod songname这几个跑到上面来了，图片已经发在群里了（29日0点左右）
6. 制谱器部分的建议，建议开发删除某个谱面难度的选项，手滑建错难度无法删除
想到了，发现了再加

[2020-06-15 07:18] Frenqy commented on #25
已完成轮子迁移

已知问题：
偶现SelectDefault的位置不对（切换排序或进入场景）
暂时移除了切换难度时重新排序歌曲的功能

[2020-06-15 07:22] Frenqy commented on #38
1、Windows平台DX独有问题
2、已修复
3、暂时移除了删除功能
4、排查中
5、同1
6、同3

[2020-06-15 15:49] Frenqy commented on #38
1、已修复
2、已修复
3、暂时移除了删除功能，后续会和红心/文件夹存放功能一起上线
4、已修复
5、已修复
6、同3

[2020-06-15 15:49] #38 closed, assigned to nobody

[2020-06-15 15:50] Frenqy commented on #25
已知问题均已修复

[2020-06-18 07:51] shiawasenahikari opened #39 "制谱器里预览谱面时希望能保持屏幕常亮"
打开了自动打歌的 mod 以后最好也能常亮，不然每隔 15 秒就要点一下屏幕

[2020-06-18 08:48] Frenqy commented on #39
收到，下个版本会改

[2020-06-19 00:45] #39 closed, assigned to nobody

[2020-07-19 05:48] Frenqy opened #40 "[TODO] 0.7.4版本卫星"
- [x] ~UnityAudioProvider~ Unity已经没救了 放弃吧

- [x] 选歌轮子回滚

- [ ] 选歌轮子优化

- [ ] 文件夹、折叠、收藏、删除功能

- [ ] ~URP回滚到内置渲染管线~ 雨我无瓜

- [x] 选歌界面背景刷新

[2020-07-19 17:40] Kevin-genius-x opened #41 "0.7.3 IOS问题反馈"
1.小概率情况下，歌曲开始前摇会消失，进入的瞬间开始打歌，导致MISS
2.强烈建议做回删除功能
3.含有视频的谱面视频无法播放

设备型号：iPad 7.5 （2018,128G，未越狱，IOS13.6）

[2020-07-19 17:52] Kevin-genius-x commented on #41
4.附加：小概率情况下，Note会瞬移掉落

[2020-07-20 01:47] Frenqy commented on #41
问题1和4：需要更多复现步骤信息
问题2：下个版本会修复
问题3：无法复现 请提供出现问题的kirapack

[2020-07-20 03:16] KCFindstr commented on #40
- [x] Beat snap支持1/8
- [ ] 鲨了老版本谱面格式
- [ ] 制谱器支持fuwafuwa note
- [ ] 制谱器热键
- [ ] 制谱器墓碑机制

[2020-07-20 12:02] linkfqy opened #42 "bug反馈"
版本：0.7.3安卓版
- 选歌界面选至第一首往前划/最后面往后划会导致卡死
- 打歌中途retry后，note下落速度变为无限大，直接闪现在判定线上

[2020-07-20 12:34] Frenqy commented on #42
已收录

[2020-07-20 15:18] 6QHTSK opened #43 "0.7.3 Offset Guide引用谱面错误等几个问题"
1. 严重bug，offset guide 谱面来自于进入offset guide前选歌界面停留的那个谱面，而非之前的offset guide谱面。
2. 建议：settings 的拖动滑动的横向距离扩大，不习惯在有字的地方滑动，更喜欢在稍右边无字的地方滑动。
3. 吐槽：mod的那条鱼和整个界面违和感也太大了吧。虽然有特殊意味但是还是很想吐槽。
4. 期望：能不能保留0.6.2的皮肤（本人非常喜欢，所有我的视频封面都是拿0.6.2截的）甚至远古版本的皮肤供切换。
5. 期望：之前的点击空白处显示整张封面的特性能不能加回来。
6. 期望：note染色功能，这样就可以在banground中还原技能键了(x
7. 想到了再加……

[2020-07-20 15:29] Frenqy commented on #43
1.已修复
2.已修复
3. @美工
4.由于人手不足且开发组目前都比较忙，皮肤功能开发优先级较低，只能给个会做的卫星
5.这个功能之前由于优化问题移除了，如果加回来只能加个阉割版的，会考虑（显示整张封面时背景是模糊的，模糊这个功能对移动端GPU负担很大，会造成发热掉帧）
6.这个功能已经做好了，暂时没开放

[2020-07-21 01:11] Frenqy commented on #42
已修复 等待新版发布

[2020-07-21 01:11] #42 closed, assigned to nobody

[2020-08-03 11:27] shiawasenahikari opened #44 "0.8.0 版本的判定线比实际节奏的时间点要早"
我使用 Offset Guide 将判定偏移调成了 +100，然后在实际打歌界面打 Tutorial 时，发现 note 下落得还是比节奏点快了一点。然后当 note 落到判定线上时我击打会出现 early 的 great 评价，如果我将手稍微放到判定线下方一点，完全跟着鼓点打的话，就会出现 perfect 评价。

设备是 iPad 6，系统是 iOS 13.5.1。

[2020-08-03 11:38] Frenqy commented on #44
美工已在群内解答

[2020-08-03 11:38] #44 closed, assigned to nobody

[2020-08-05 04:45] Frenqy commented on #40
0.8.0了

[2020-08-05 04:45] #40 closed, assigned to GEEKiDoS, LingFeng-bbben, AECBanana

[2020-08-05 04:45] Frenqy commented on #41
0.8.0了

[2020-08-05 04:45] #41 closed, assigned to nobody

[2020-08-05 04:45] Frenqy commented on #43
0.8.0了

[2020-08-05 04:45] #43 closed, assigned to KCFindstr, AECBanana

[2020-08-05 05:40] xiaobu1071 opened #45 "音符样式为第3时黑键难以辨别"
使用第3种note样式并开启节奏视觉辅助会使得变黑的按键辨别率降低，可能要优化一下对比度

[2020-08-05 05:45] KCFindstr commented on #45
所有note染色是统一的，只能看美工能否修正一下染色图。
你可以通过制谱器的speed view修正谱面的染色效果来临时解决。

[2020-08-05 09:56] ButtercatT opened #46 "ver.0.8 安卓选歌界面GPU资源占用过高"
设备:三星s20，android 10
![Screenshot_20200805-124950_BanGround](https://user-images.githubusercontent.com/44700688/89398817-2e22c500-d744-11ea-9b14-5ab792481049.jpg)
见图右上角，GPU在选歌界面占用率接近70%，打歌时为25%左右。
停留在选歌界面一段时间后，手机温度快速升高，游戏帧数由120帧强制降低到60帧，GPU占用率降低为30%左右。

[2020-08-05 10:04] Frenqy commented on #46
请按照以下步骤进行问题排查：
1、清空app数据（清空曲库）
2、打开app，查看GPU与CPU占用率

[2020-08-05 10:44] ButtercatT commented on #46
![Screenshot_20200805-184220_BanGround](https://user-images.githubusercontent.com/44700688/89403869-9a54f700-d74b-11ea-8628-01f6cca55172.jpg)
全部数据清空之后，占用率平均在40左右

[2020-08-05 11:09] StarWishNya commented on #46
在导入核弹包后gpu和cpu占用明显提高并且加载速度大幅度延长

[2020-08-05 11:18] StarWishNya opened #47 "在开启1.5加速后key无法下落"
设备:Redmi Note 7 Pro 版本:0.8.0 安卓版本:10
在开启1.5加速后key无法下落
![000](https://user-images.githubusercontent.com/63622396/89406861-603a2400-d750-11ea-8243-12f32a50ed66.jpg)

[2020-08-05 11:22] StarWishNya opened #48 "打完一首歌发现无法选取曲目"
设备:Redmi Note 7 Pro 安卓版本:10
在只有初始曲目和[曲名新特性示例]的情况下，打完一首歌发现无法选取曲目，会一直下掉,在导入多首曲目后问题不会发生
![批注 2020-08-05 191908](https://user-images.githubusercontent.com/63622396/89407226-fd955800-d750-11ea-99b2-15a3564749b6.jpg)
（话说我都录屏了Github不给我上传）

[2020-08-05 11:23] Frenqy commented on #47
麻烦提供以下信息：
1、观察右下角S后面数字是否在动（斜杠左边和右边分别观察）
2、提供出错的kirapack或提供id及来源

[2020-08-05 11:24] ButtercatT commented on #46
初始占用40%感觉还是太高了，歌曲数量对gpu负担带来的影响也比较明显，等一个椰椰们的优化
ヾ(❀╹◡╹)ﾉ~

[2020-08-05 11:25] Frenqy commented on #46
收到，正在排查，理论上GPU占用不会高于20

[2020-08-05 11:30] StarWishNya commented on #47
有在动

[[曲名新特性示例]Lost princess - bbben.zip](https://github.com/BanGround/BanGround-Unity/files/5027992/Lost.princess.-.bbben.zip)

[2020-08-05 11:35] Frenqy commented on #48
录屏可以压缩后上传（包括上一issue

[2020-08-05 11:45] StarWishNya commented on #47
[Screenrecorder-2020-08-05-12-56-15-890.zip](https://github.com/BanGround/BanGround-Unity/files/5028062/Screenrecorder-2020-08-05-12-56-15-890.zip)
手机端录屏

[2020-08-05 11:46] StarWishNya commented on #48
[Screenrecorder-2020-08-05-12-46-33-61.zip](https://github.com/BanGround/BanGround-Unity/files/5028066/Screenrecorder-2020-08-05-12-46-33-61.zip)
手机端录屏

[2020-08-05 11:52] StarWishNya opened #49 "一些小bug和建议"
设备:Redmi Note 7 Pro 安卓版本:10
1.进去游戏会花屏（电脑端没有发现这种情况）
2.在“Are You Ready”处点击判定线处会有打击音效
3.在设置界面一进入是左对齐，但是点击了旁边的分类后会变成居中
4.我的选歌界面GPU占用率爆了！
5.请把手机端和电脑端的返回键找回来谢谢
6.建议点击文字也可以更改设置
附件过大无法上传
附件为手机端投屏到电脑录制（手机录制帧率过低）

[2020-08-05 11:56] StarWishNya commented on #49
链接：https://pan.baidu.com/s/1J1_rQaCfwKg8z_HGkjzqTA
提取码：1234
度盘的链接

[2020-08-05 12:38] ARonisc opened #50 "几个BUG和建议"
手机：红米Note7 系统：MIUI 11.0.7稳定版 安卓9

BUG1：预览曲子没有从第0秒开始播放
选歌界面，预览播放Tutorial曲子的时候会出问题，预览声音一直重复日语“rial”的声音，而不是“tutorial”
换句话说就是预览曲子没有从第0秒播放预览曲子。不过弄着弄着又会从tutorial开始念
[预览曲子.zip](https://github.com/BanGround/BanGround-Unity/files/5028349/default.zip)

BUG2：主界面没有账号登陆状态检测
已经登陆账号了，重启游戏，游戏提示login in了之后，主界面仍然是GUEST游客账号，然后点solo进去才变成自己账号的名字
![登陆1](https://user-images.githubusercontent.com/59252909/89412847-53bac9

[2020-08-05 13:36] AECBanana commented on #45
这就去修

[2020-08-05 13:43] Frenqy commented on #50
BUG1：这不是bug，是kirapack设置的预览时间有误，你可以尝试其它kirapack看看有没有这种问题

[2020-08-05 13:47] GEEKiDoS commented on #50
建议1：手动删除config.cfg即可复原所有设置

[2020-08-05 13:52] Frenqy commented on #47
经过查阅录像，判断是音频引擎崩溃返回了错误的长度，导致TimeSync没有正常工作。
请尝试更换音频引擎至bass查看问题是否有所改善

[2020-08-05 14:46] AECBanana commented on #50
BUG5修了

[2020-08-05 15:07] AECBanana commented on #49
3.椰叶的代码定位不对
6.改了一通没办法 只能椰叶代码修点东西

[2020-08-05 15:08] AECBanana commented on #45
修了

[2020-08-05 15:08] #45 closed, assigned to AECBanana

[2020-08-05 16:46] ReiKohaku commented on #50
preview播放时间错位是老问题了，能不能修a（
就是第一次播放的时候是对的，后面循环的时候起始时间都会偏后

[2020-08-06 13:38] xiaofeng19 opened #51 "关于引导曲的两个BUG"
设备一：iPad（第6代） 系统：iPadOS 13.6
设备二：Redmi K20 Pro 系统：MIUI 12.0.2稳定版 安卓版本：10

BUG1. 点选设置里面的offset guide后，会先弹出unsupported提示，此时点X的话选歌界面所有歌选择时都会变成那首引导曲

BUG2. 在引导曲在说ready和音乐开始前这段时间内点右上角退出的话（早了和晚了都是正常的），虽然界面会正常退出，但引导曲的音乐会继续播放

[2020-08-06 13:40] GEEKiDoS commented on #51
@LingFeng-bbben 轮子哥修修谱面

[2020-08-07 01:33] Frenqy commented on #51
@KCFindstr 点X后“offset guide"标识符没重置

[2020-08-14 15:10] linkfqy opened #52 "kirapack导入时BUG"
安卓版0.8.0
### 场景重现：
后台运行banground，以banground打开kirapack文件
导入新歌曲的同时会播放预览音乐
然后这个预览就永远停不下来了，打歌的时候甚至有双重音轨

[2020-08-15 15:33] Frenqy opened #53 "[Bug][Android]无法导入Kirapack"
rt，无法稳定复现

可能复现步骤：
从外部打开kirapack选择使用bg打开，此时无论客户端是开启还是关闭，都无法导入
经过排查，kirapack并没有正常复制到Inbox目录
无log

[2020-08-16 03:49] AECBanana commented on #53
没人修 摸了

发自我的iPhone

在 2020年8月15日，下午11:33，Frenqy <notifications@github.com> 写道：

﻿

rt，无法稳定复现

可能复现步骤：
从外部打开kirapack选择使用bg打开，此时无论客户端是开启还是关闭，都无法导入
经过排查，kirapack并没有正常复制到Inbox目录
无log

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/BanGround/BanGround-Unity/issues/53>, or unsubscribe<https://github.com/notifications

[2020-08-22 15:30] 6QHTSK opened #54 "关于谱面脚本支持实时读取当前acc/分数/连击数/note击打判定/血量等游玩信息的建议"
模拟风暴需要用到血量判定、note击打判定，
某些有趣的想法需要用到acc/分数等数据的支持，
那么在脚本中开放这些接口将最大满足这些脑洞。

[2020-08-26 05:15] AECBanana opened #55 "编辑器数字更改issue"
![271E4BE7C40F6A67DFB33FD31D2CF894](https://user-images.githubusercontent.com/60141130/91258123-30ee6400-e79e-11ea-98bb-5914d4c3f5aa.png)

[2020-08-26 14:05] AECBanana opened #56 "内存溢出操作"
选歌列表 一直点排序按钮 你的游戏占用内存就会biubiu往上涨
![CD54399E4AD4DF6A47D0014387014C0A](https://user-images.githubusercontent.com/60141130/91313643-2f498e00-e7e8-11ea-9d58-1f7a1024cd90.png)

[2020-08-28 01:56] shiawasenahikari opened #57 "0.8.0 版本判定调节向导里 note 过了判定线后会突然加速"
issue 里贴不了录屏，发在群里了，各位椰叶应该已经看到了。主要问题就是不论透视校正开启与否，在判定调节向导里，note 过了判定线都会突然加速，在单机打歌状态下就没有这个问题，单机打歌时透视校正开启时，note 过了判定线仍然正常下落；透视校正关闭时，note 过了判定线会突然加速。

用一张表总结一下：
　――――――　――――――――――――――――　――――――――――――――――
｜　　　　　　｜　　　　　透视校正：开　　　　　｜　　　　　透视校正：关　　　　　｜
　――――――　――――――――――――――――　――――――――――――――――
｜单机打歌模式｜ＮＯＴＥ过判定线后正常下落　　　｜ＮＯＴＥ过判定线后突然加速　　　｜
　――――――　――――――――――――――――　――――――――――――――――
｜判定调节向导｜ＮＯＴＥ过判定线后突然加速（＊）｜ＮＯＴＥ过判定

[2020-08-28 01:58] Frenqy commented on #57
将会在下个版本修复
提供临时解决方案：正常进入一次打歌之后退出，此时进入判定调节向导可以恢复

[2020-09-11 09:30] Frenqy opened #58 "Lua API设计"
See Also: #54

[2020-11-16 01:53] AECBanana opened #59 "setting按钮错位"
![5TO{HD}4LZV69T67)1LL~Q1](https://user-images.githubusercontent.com/60141130/99204735-86606d00-27f1-11eb-908d-d3a952f0ff70.png)
![P~J`6GZF((BJOL721}V7CDN](https://user-images.githubusercontent.com/60141130/99204736-882a3080-27f1-11eb-9254-0d2338821987.png)

[2020-11-16 02:12] #59 closed, assigned to nobody

[2020-11-17 00:40] AECBanana opened #60 "编辑器字体问题"
![{J(16B)CZ0OO(}H$BKHECJ](https://user-images.githubusercontent.com/60141130/99325087-7c517380-28b0-11eb-83e7-0ec94cc927a9.png)

[2020-11-17 00:45] AECBanana opened #61 "难度内建无法复制bpm数值"
![0T5 SF%1J12@HIK7P`4L%PW](https://user-images.githubusercontent.com/60141130/99325288-fa157f00-28b0-11eb-9487-027106aaccd6.png)
![6)PP2UR{{@Z5Z~B37)~38C3](https://user-images.githubusercontent.com/60141130/99325374-2e893b00-28b1-11eb-96d7-67066371045a.png)
![KM@L64GD1R9HK`@M4SJEJ2M](https://user-images.githubusercontent.com/60141130/99325394-3c3ec080-28b1-11eb-8344-e561d2f14877.png)

[2020-11-17 00:59] AECBanana opened #62 "title背景空洞"
解决方法可以用玩家原本已经导入的歌曲里随机显示里面的图片
![EK)T}1MNR`)RK%(~NZD@DL0](https://user-images.githubusercontent.com/60141130/99326388-321dc180-28b3-11eb-89ba-093654e1453f.png)

[2020-11-17 01:01] AECBanana opened #63 "游戏重启后还是bass 切换fmod还是显示bass，但切换后确实是显示bass实际fmod"
![R54E73WWEU_1JDG(0 QYE4P](https://user-images.githubusercontent.com/60141130/99326763-7ad57a80-28b3-11eb-9980-690be7a5b17f.png)

[2020-11-17 02:32] #60 closed, assigned to GEEKiDoS, KCFindstr, Frenqy

[2020-11-17 02:33] GEEKiDoS commented on #60
Mapping>MappingCanvas>GridGrandma::GridController.fontFamily

[2020-11-17 02:35] GEEKiDoS commented on #61
Ctrl+C, Ctrl+V
移动端爬

[2020-11-17 02:38] AECBanana commented on #61
？

[2020-11-17 02:48] #62 closed, assigned to GEEKiDoS, KCFindstr, Frenqy

[2020-11-17 02:49] GEEKiDoS commented on #61
Ctrl+C, Ctrl+V 可以用，安卓可以长按复制，无法复现无法复制的情况

[2020-11-17 02:49] #61 closed, assigned to GEEKiDoS, KCFindstr, Frenqy

[2020-11-17 02:52] GEEKiDoS opened #64 "导入歌之后，歌曲选择变了，但是背景和BGM依旧是上一个选择的"
RT

[2020-11-17 04:00] AECBanana opened #65 "绿条太粗了"
![QQ截图20201117115915](https://user-images.githubusercontent.com/60141130/99345054-6782d900-28cc-11eb-8ac7-1b0e0174fc0b.png)
调整为1.5-1.7倍左右

[2020-11-17 04:16] #65 closed, assigned to GEEKiDoS, KCFindstr, Frenqy

[2020-11-17 04:27] #55 closed, assigned to KCFindstr

[2020-11-17 05:58] AECBanana opened #66 "title的username显示不了了"
![QQ图片20201117135736](https://user-images.githubusercontent.com/60141130/99352061-e97afe00-28dc-11eb-8e56-7ef6d2fe9e86.png)

[2020-11-17 06:12] GEEKiDoS commented on #66
这不是因为你把那个prefab删了吗 自己修

[2020-11-17 06:14] AECBanana commented on #66
不会修

[2020-11-17 07:56] Frenqy commented on #66
不会修你就revert回去 把预制体还回来------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;AECBanana&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年11月17日(星期二) 下午2:14
收件人:&nbsp;&quot;BanGround/BanGround-Unity&quot;<BanGround-Unity@noreply.github.com&gt;;
抄送:&nbsp;&quot;Frenqy&quot;<411937015@qq.com&gt;;&quot;Assign&quot;<assign@noreply.github.com&gt;;
主题:&nbsp;Re: [BanGround/BanGround-Unity] ti

[2020-11-17 12:19] AECBanana commented on #66
修了

[2020-11-17 12:19] #66 closed, assigned to GEEKiDoS

[2020-11-17 12:21] AECBanana commented on #63
还是有啊 椰叶在干啥呢

[2020-11-19 04:00] KCFindstr commented on #64
Fixed in 1c1de35.

[2020-11-19 04:00] #64 closed, assigned to KCFindstr, Frenqy

[2020-11-19 04:03] KCFindstr commented on #57
已修复 请等待下个版本发布

[2020-11-19 04:03] #57 closed, assigned to nobody

[2020-11-19 05:16] KCFindstr commented on #63
Fixed in 53533f8.

[2020-11-19 05:16] #63 closed, assigned to GEEKiDoS, KCFindstr, Frenqy

[2020-11-19 06:38] KCFindstr commented on #56
Fixed in 306c5a

[2020-11-19 06:38] #56 closed, assigned to KCFindstr, Frenqy

[2020-11-19 06:57] #51 closed, assigned to LingFeng-bbben

[2020-11-19 07:00] KCFindstr commented on #46
内存泄漏问题已修复 GPU占用原因暂时未知

[2020-11-22 08:52] 6QHTSK opened #67 "0.9.0关于制谱器绿条删除操作的bug"
在选中绿条的情况下选择delete，绿条消失，但是，改变时间条（包括下方时间轴和拖动左方预览条），该绿条突然出现（选中状态），此时对该绿条头尾进行删除操作。报错内容NullReferenceException: Object reference not set to an instance of an object。此时保存，重新进入后，该绿条消失。
其它问题等能复现再上报

[2020-11-22 22:33] KCFindstr commented on #46
请查看0.9.0版本是否有修复

[2020-11-22 22:34] KCFindstr commented on #48
0.9.0已重构代码 请查看是否可以复现

[2020-11-23 04:10] ButtercatT commented on #46
目前暂时没有出现掉帧问题了（ipad pro的掉帧也修复了），应该就是内存泄漏的问题，后续会继续观察

[2020-11-23 08:27] KCFindstr commented on #67
Fixed in Kirakira-Games/BanGround-Unity@ead534d218ce2576068c8f7ba2256d09c2646136

[2020-11-23 08:27] #67 closed, assigned to KCFindstr

[2020-11-23 08:28] #46 closed, assigned to GEEKiDoS, AECBanana

[2020-11-24 02:43] KCFindstr opened #68 "新计分系统"
实现新计分系统 妹弓把血条吐出来

[2020-11-24 02:44] KCFindstr opened #69 "社区谱面的难度显示"

[2020-11-24 02:46] KCFindstr commented on #58
修改建议：
`AtBeat` => `UntilBeat`
`AtTime` => `UntilTime`

添加建议：
与时间绑定的事件监听器
`AtBeat`
`AtTime`

确认：
任意跳转音乐时间是否会影响Lua脚本

[2020-11-24 02:46] KCFindstr opened #70 "Lua脚本编辑器高亮"
`function function`

[2020-11-24 02:48] KCFindstr opened #71 "我摸了"
1. 编辑器窗口直接进入游戏界面（修改sceneloader，同时加载两个场景，并deactivate前一个场景的object）
2. 轻飘飘音符读谱辅助

[2020-11-24 02:48] AECBanana commented on #68
骚等 还在调

[2020-11-24 03:03] KCFindstr opened #72 "Server Side Config"
KVar支持Server Side Config
（不用改KVar实现，只需要在**登录成功**以后再发一个请求获取Server Side Config（阻塞登录的Loading过程）。请求API先留个placeholder，返回格式是
[code]
其中data是一个key到value的map
1. Server Side Config是ss开头的KVar。忽略不满足要求的Key和不存在的KVar。
2. 若获取失败，不改变KVar的值。

[2020-11-27 04:18] ReiKohaku commented on #71
椰叶你可以的
- [ ] 给编辑器添加单个、批量note的移动功能
- [ ] 给编辑器添加单个、批量note的复制/粘贴/镜像功能

[2020-11-27 04:19] ReiKohaku commented on #70
解决方案：不写`funtion function`

[2020-11-27 04:35] ReiKohaku opened #73 "可以增进体验的小改动"
本条issue中所列中，不带 **!!** 的条目不作为当前紧要的、必须实现的功能；带有 **!!** 的条目是急需修复的问题。
还请优先修复严重影响游戏性的bug。

喵社区
- [ ] 可选显示模式：按歌曲/按谱面/按作者
- [x] **!!** 在屏幕高度过高的情况下，列表不会在拉到底部时继续加载下方的项目
- [x] 搜索功能（需后端配合）

选歌界面
- [ ] 考虑增加按钮清晰度，如按钮的图标和文字交替闪烁显示
- [ ] 考虑直接在用户可见的区域内增加当前启用的mod显示，比如在START按钮的下方

制谱器
* [ ] 增加note的移动功能
* [ ] 增加note的复制、粘贴功能
* [ ] 增加note的水平、垂直翻转功能
* [ ] PC版为二级菜单中的功能增加相应的快捷键（如 **[V]** 打开/关闭speed view，**[Y]** 打开/关闭Y snap

[2020-11-28 21:15] KCFindstr commented on #73
哦你这缠人的小猫咪。我发誓一切都会好起来的。劳烦你把我的名字从这该死的名单上去掉；我是说，剩下的人已经足够应付这差事了。我敢打赌，这点工作对于他们而言就像煮一壶咖啡一样简单。

[2020-11-29 08:56] AECBanana commented on #73
哦你这缠人的小猫咪。我发誓一切都会好起来的。劳烦你把我的名字从这该死的名单上去掉；我是说，剩下的人已经足够应付这差事了。我敢打赌，这点工作对于他们而言就像煮一壶咖啡一样简单。

[2020-11-29 09:17] ReiKohaku commented on #73
喵……不要偷懒啦，快起床干活呀喵！！！

[2020-12-04 03:49] ReiKohaku opened #74 "上传谱面默认介绍置空"
默认是英文的很影响其它语言用户的使用体验。

[2020-12-04 04:29] KCFindstr commented on #74
Fixed in Kirakira-Games/BanGround-Unity@887e6ebcd76928cd77133b05864fb477f7a7bd06.

[2020-12-04 04:29] #74 closed, assigned to KCFindstr

[2020-12-07 02:15] Frenqy commented on #68
有了

[2020-12-07 02:15] #68 closed, assigned to Frenqy, AECBanana

[2020-12-07 02:16] #53 closed, assigned to nobody

[2020-12-09 01:32] KCFindstr commented on #69
Fixed

[2020-12-09 01:32] #69 closed, assigned to AECBanana

[2020-12-09 01:57] KCFindstr commented on #70
hacked

[2020-12-09 01:57] #70 closed, assigned to GEEKiDoS

[2020-12-09 03:07] KCFindstr commented on #48
Closing issue due to inactivity

[2020-12-09 03:07] #48 closed, assigned to Frenqy

[2020-12-09 03:07] KCFindstr commented on #47
Closing issue due to inactivity

[2020-12-09 03:07] #47 closed, assigned to GEEKiDoS, KCFindstr

[2020-12-12 04:19] ghost opened #75 "select（选择工具）选中组件之后无法通过右键空白区域取消选择"
select（选择工具）选中组件之后无法通过右键空白区域取消选择

[2020-12-12 04:22] ghost opened #76 "建议支持将谱面元素移动至另一group中"
建议支持将谱面元素移动至另一group中

[2020-12-12 10:47] ghost opened #77 "建议将多押的同时点击线的绘制规范化"
多押的同时点击线的绘制非常没有规律，甚至同样的按键绘制顺序会产生不同的绘制方式
我想到三种解决方案：
1、按照谱面元素的绘制顺序，绘制同时多押的点击线（还要考虑到在不同group之间的绘制顺序）
2、自动按照最短路径填充多押的点击线
3、允许谱师手动绘制多押的点击线

可能还会有更好的方案，我是想不到了……
但现在的多押的点击线的绘制确实非常没有规律

[2020-12-14 00:14] #75 closed, assigned to KCFindstr

[2020-12-14 23:40] KCFindstr commented on #77
目前多押按x坐标从左到右连接

[2020-12-20 04:56] #77 closed, assigned to nobody

[2021-01-03 06:33] Ayanami0312 opened #78 "bug：社区无法打开"
![9258FD05-7156-4A65-8C41-778B0686106A](https://user-images.githubusercontent.com/40337241/103473147-31dc7580-4dd0-11eb-8d4a-42cac4a489ec.png)
![6971DEC7-6FED-420C-9110-E016D804AA6B](https://user-images.githubusercontent.com/40337241/103473149-356ffc80-4dd0-11eb-952c-e8fe356f5c32.png)
手机：Iphone 6 系统：12.4
社区无法正常启用

[2021-01-03 06:42] Ayanami0312 commented on #78
手机好像不能发图...我这看不到效果
报错：FormatException：String was not recognized as a vaild DateTime.
异常：社区一直处在加载状态 无法正常使用

[2021-01-03 07:14] KCFindstr commented on #78
已收到，之后会查看原因。
注意：你的截图包含了账号相关的敏感安全信息，建议立即修改密码。

[2021-01-03 07:18] KCFindstr commented on #78
请确认更新到BanGround最新版本以后是否还有该错误？

[2021-01-03 07:38] Ayanami0312 commented on #78
谢谢提醒
更新到0.9.1（8）后情况没有改变...

[2021-01-03 07:43] GEEKiDoS commented on #78
请问系统语言是什么

[2021-01-03 07:45] Ayanami0312 commented on #78
zh-cn

[2021-01-03 07:51] GEEKiDoS commented on #78
看内测群

[2021-01-04 12:18] ButtercatT opened #79 "成绩更新问题"
![5ad1e3e5ec21a390](https://user-images.githubusercontent.com/44700688/103534473-e3130680-4ec9-11eb-92ff-b406dac86830.jpg)
![4dd87502b56d6d48](https://user-images.githubusercontent.com/44700688/103534478-e4dcca00-4ec9-11eb-8768-dceafe532c05.jpg)
最高分成绩没有正常覆盖先前的成绩

[2021-01-04 16:06] 6QHTSK opened #80 "0.9.1版本的一些问题与建议"
#### 问题（bugs?)：
1. 使用Expert.lua作为脚本的文件名，若试图在编辑器中使用Script Editor，会错误的显示初始的空白脚本。且保存谱面后脚本丢失。（Expert.lua时当前唯一可以成功从kirapack导入的Expert谱面脚本命名方式）
2. 如果OnJudge函数运行中出现错误，会导致该音符无法被判定。停止在判定线前。
3. 引导问题：新手进入游戏后，不知道如何开始游玩。（试图戳封面发现无法开始游戏）。mod使用、设置也不知道在哪里，也不会切换难度。社区谱面下载缺乏下载成功提示。（给其他人玩装在自己板子上的BanGround上的谱面时发现的问题）
4. 切换难度时的卡顿令人难以忍受。
5. 假设FC/AP 某个谱面（此处将此谱面记作谱面A），若游玩其它谱面或者重启BanGround后，在选歌界面谱面A分数处应该出现的FC/AP标记错误的显示为CL标记，

[2021-01-05 03:06] AECBanana commented on #80
建议3回答
歌名显示是白色 背景过亮导致歌名显示不清不楚 正在寻找最优解（

发自我的iPhone

在 2021年1月5日，上午12:06，6QHTSK <notifications@github.com> 写道：

﻿

问题（bugs?)：

  1.  使用Expert.lua作为脚本的文件名，若试图在编辑器中使用Script Editor，会错误的显示初始的空白脚本。且保存谱面后脚本丢失。（Expert.lua时当前唯一可以成功从kirapack导入的Expert谱面脚本命名方式）
  2.  如果OnJudge函数运行中出现错误，会导致该音符无法被判定。停止在判定线前。
  3.  引导问题：新手进入游戏后，不知道如何开始游玩。（试图戳封面发现无法开始游戏）。mod使用、设置也不知道在哪里，也不会切换难度。社区谱面下载缺乏下载成功提示。（给其他人玩装在自己板子上的BanGrou

[2021-01-08 06:23] Frenqy commented on #79
【管理员】Findstr 14:23:10
让他提供一下Scores.bin

【管理员】Findstr 14:23:16
看看到底存进去没有

[2021-01-08 06:41] #79 closed, assigned to nobody

[2021-02-20 12:30] none-id opened #81 "bug：简体中文下编辑器显示重字"
![PNG图像](https://user-images.githubusercontent.com/45704666/108595370-6cb75e80-73ba-11eb-8ea6-f740f6e5629e.png)
时间点栏的左下角位置，如图。

[2021-03-03 09:35] GEEKiDoS commented on #81
Moved to https://github.com/Kirakira-Games/BanGround-Unity/issues/73 (private)

[2021-03-03 09:35] #81 closed, assigned to nobody

[2021-03-10 09:52] none-id opened #82 "带lua脚本的谱面导出或上传后丢失lua脚本效果"
测试设备：输出端ipad pro 2020 ipad os 14.2   导入端：红米k30 miui 12
第一手未经转换的包，通过导入游戏转换后，自己添加object(8)设置在轨道上方显示。然后，通过内置分享功能打包，再发给安卓全面屏设备后丢失了lua脚本的特效。

[2021-03-11 00:52] none-id commented on #82
追加一条，通过内置编辑器上传至社区后，在win10端下载（估计别的端也一样）后丢失lua脚本特效

[2021-03-11 08:54] Frenqy commented on #82
留一下QQ号 方便在内测群找人

[2021-08-09 10:07] #72 closed, assigned to GEEKiDoS

[2021-08-10 06:30] KCFindstr commented on #78
关闭issue，若还有问题请开新issue

[2021-08-10 06:30] #78 closed, assigned to nobody

[2021-08-10 06:30] KCFindstr commented on #71
该issue已移动至kirakira games的私有库

[2021-08-10 06:30] #71 closed, assigned to KCFindstr

[2021-08-10 06:32] KCFindstr commented on #82
关闭issue，若还有问题请开新issue

[2021-08-10 06:32] #82 closed, assigned to GEEKiDoS

[2021-08-11 00:09] scqq147 opened #83 "魅族16sp进入游戏炸音响"
魅族16sp手机，flyme稳定版8.15a，进入就炸音响，无法正常播放，重新安装重启都无效。

[2021-08-11 00:19] scqq147 commented on #83
游戏版本是群里下的扩大测试版

[2021-08-11 00:38] KCFindstr commented on #83
补充：安卓9 仅fmod炸音

[2021-08-11 04:03] yunlanly opened #84 "关于天键皮肤的建议"
希望不要跟地键的材质一样（（玩的时候有点花眼和读谱不能（arcptt：11.36

[2021-08-12 04:58] HKBV opened #85 "为什么导入音乐的时候给我个错误代码啊"

[2021-08-12 05:00] AECBanana commented on #85
椰叶的错误代码多少 你传个截图上来 没有这些修不到（

[2021-08-12 05:06] HKBV commented on #85
我把代码发过来吧：
{
&nbsp; "cHeaders": [
&nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; "difficultyLevel": [
&nbsp; &nbsp; &nbsp; &nbsp; 1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1
&nbsp; &nbsp; &nbsp; ],
&nbsp; &nbsp; &nbsp; "version": 1,
&nbsp; &nbsp; &nbsp; "sid": 99901,
&nbsp; &nbsp; &nbsp; "mid": 99901,
&nbsp; &nbsp; &nbsp; "

[2021-08-12 12:24] AECBanana commented on #85
这个不是error啊（

发自我的iPhone

在 2021年8月12日，13:06，HKBV ***@***.***> 写道：

﻿

我把代码发过来吧：
{
&nbsp; "cHeaders": [
&nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; "difficultyLevel": [
&nbsp; &nbsp; &nbsp; &nbsp; 1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1,
&nbsp; &nbsp; &nbsp; &nbsp; -1
&nbsp; &nbsp; &nbsp; ],
&nbsp; &nbsp; &nbsp; "version": 1,
&nbsp; &nbsp; &nbsp; "

[2021-08-14 08:50] CtrlScrollScroll opened #86 "游戏锁80帧每秒？"
致开发组的各位，
我使用一台iPad Pro (Apple M1, 2021) 11.5英寸(iPadOS 15 developer beta 4)游玩BanGround。
这台设备具有120hz刷新率，并且其他应用可以提高在120fps下运行。
但是邦地就只有80fps 很稳定的80fps。
只有我开始屏幕录制的时候，帧数才会变成120。
不知道是iOS的bug还是游戏的bug。
有没有可用的解决方法？
    此致
敬礼
skyline，2021.8.14

[2021-08-16 01:31] CtrlScrollScroll commented on #86
游玩部分谱面时也会回到120fps